<ion-app>
  <ion-split-pane>
    <!--  our side menu  -->
    <ion-menu contentId="main">
      <ion-header>
        <ion-toolbar>
          <ion-title>Taxi do Barba</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let page of pages">
            <app-menu-item [link]="page"></app-menu-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
  
    <!-- the main content -->
    <ion-router-outlet id="main"></ion-router-outlet>
  </ion-split-pane>
</ion-app>