<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Taxi do Barba
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        Mês
      </ion-col>
      <ion-col class="ion-text-center">
        Valor Bruto
      </ion-col>
      <ion-col class="ion-text-center">
        Valor Líquido
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let item of report">
      <ion-item-divider color="light">
        <ion-col class="ion-text-center">
          {{ item.month }}
        </ion-col>
        <ion-col class="ion-text-end">
          {{ item.grossValue | currency }}
        </ion-col>
        <ion-col class="ion-text-end">
          {{ item.netValue | currency }}
        </ion-col>
      </ion-item-divider>
    </ion-row>
    <ion-row>
      <ion-item-divider color="light">
        <ion-col class="ion-text-center">
          Total
        </ion-col>
        <ion-col class="ion-text-end">
          {{ amount && amount.grossValue | currency }}
        </ion-col>
        <ion-col class="ion-text-end">
          {{ amount && amount.netValue | currency }}
        </ion-col>
      </ion-item-divider>
    </ion-row>
  </ion-grid>
</ion-content>
