<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Taxi do Barba
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        Data
      </ion-col>
      <ion-col class="ion-text-center">
        Meta
      </ion-col>
      <ion-col class="ion-text-center">
        Anterior
      </ion-col>
      <ion-col class="ion-text-center">
        Atual
      </ion-col>
      <ion-col class="ion-text-center">
        %
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let item of report">
      <ion-item-divider color="light">
        <ion-col class="ion-text-center">
          {{ item.date }}
        </ion-col>
        <ion-col class="ion-text-end">
          {{ item.goal | currency }}
        </ion-col>
        <ion-col class="ion-text-end">
          {{ item.lastMonth | currency }}
        </ion-col>
        <ion-col class="ion-text-end">
          {{ item.actualMonth | currency }}
        </ion-col>
        <ion-col class="ion-text-end">
          {{ item.percentage | number: '2.2-2' }}
        </ion-col>
      </ion-item-divider>
    </ion-row>
    <ion-row>
      <ion-item-divider color="light">
        <ion-col class="ion-text-center">
          Total
        </ion-col>
        <ion-col class="ion-text-end">
          {{ summary && summary.goal | currency }}
        </ion-col>
        <ion-col class="ion-text-end">
          {{ summary && summary.lastMonth | currency }}
        </ion-col>
        <ion-col class="ion-text-end">
          {{ summary && summary.actualMonth | currency }}
        </ion-col>
        <ion-col class="ion-text-end">
          {{ summary && summary.percentage | number: '2.2-2' }}
        </ion-col>
      </ion-item-divider>
    </ion-row>
  </ion-grid>
</ion-content>
