<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Taxi do Barba
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Período</ion-label>
  <ion-datetime display-format="MM/YYYY" picker-format="MM/YYYY" [(ngModel)]="datetime" (ionChange)="filterDate()"></ion-datetime>
  </ion-item>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        Data
      </ion-col>
      <ion-col class="ion-text-center">
        Tipo
      </ion-col>
      <ion-col class="ion-text-center">
        Motorista
      </ion-col>
      <ion-col class="ion-text-center">
        Valor
      </ion-col>
      <ion-col class="ion-text-center">
        Editar
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let item of report">
      <ion-item-divider color="light">
        <ion-col class="ion-text-center">
          {{ item.date }}
        </ion-col>
        <ion-col class="ion-text-center">
          {{ item.type }}
        </ion-col>
        <ion-col class="ion-text-center">
          {{ item.id === null ? '' : item.driver.split(" ")[0] }}
        </ion-col>
        <ion-col class="ion-text-end">
          {{ item.value }}
        </ion-col>
        <ion-col class="ion-text-center">
          <ion-button (click)="update(item.id, item.type)" [disabled]="item.id === null">
            <ion-icon slot="icon-only" name="create"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-item-divider>
    </ion-row>
  </ion-grid>
  <ion-item>
    <div class="ion-text-end">
      Valor Bruto {{ amount.grossValue }}
    </div>
  </ion-item>
  <ion-item>
    <div class="ion-text-end">
      Total Líquido {{ amount.netValue }}
    </div>
  </ion-item>
</ion-content>
